test-*
*.so
*.so.*
mia-*
CMakeFiles
Makefile
cmake_install.cmake
CTestTestfile.cmake
*.a
Testing
testsave*dcm
Testing
miagui-*
imgtest_*
*.pc
UseMia.cmake
miaconfig.h
revision.hh
revision.hh.new
config.h
CPackConfig.cmake
CPackSourceConfig.cmake
install_manifest.txt
reference.dox
version.tex
CMakeCache.txt
*~
GPATH
GRTAGS
GSYMS
GTAGS
