<style type="text/css">
  h5 {
  margin-left: 1%;
  }
  pre.screen {
  margin-left: 2%;
  }
  div.variablelist {
  margin-left: 2%;
  }
  span.term {
  font-style: italic
  }
  p.sectiontoc {
      margin-top:3px;
      margin-bottom:3px;
      margin-left: 2%;
  }
  div.cmdsynopsis {
  margin-left: 2%;
  }
  p.consumer {
      margin-left: 2%;
  }
  p.plugindescr {
      margin-left: 3%;
  }

</style>

